#form{
    background-image: url("https://img.freepik.com/free-vector/watercolor-blue-purple-background_276405-551.jpg?w=740");
    width: 300px;
    height: 60vh;
    padding: 10px;
    margin-top: -40px;
    border-radius: 10px;
   padding-top: 30px;
}
#container{
    height: 90vh;
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#form>input{
    width: 90%;
    padding: 10px;
    margin-top: 2%;
    border-radius: 10px;
    border: 0.5px solid rgb(182, 175, 175);
    
}
#button{
    background-color: rgb(77, 7, 71);
    border: none;
    border-radius: 10px;
    height: 7vh;
    width: 100%;
    color: white;
    margin-top: 15%;
    cursor: pointer;
}
#button:hover{
    background-image: linear-gradient(to left, rgb(77, 7, 71) , rgb(143, 15, 132));
}
textarea:focus, input:focus{
    outline: none;
}
#error{
    color: red;
    margin-top: 0;
}
#main{
    height: 100%;
    background-image: url("https://www.teahub.io/photos/full/313-3132029_linkedin-wallpaper-wallpapersafari-background-image-for-form-in.jpg");
}
#table{
   margin: auto;
   margin-top:4%;
   border-collapse: collapse;
  width: 80%;
  color: rgb(253, 253, 253);
}
#table>thead>tr,#table>tbody>tr{
    border: 1px solid white;
    
}
#table>thead>tr>th,#table>tbody>tr>td{
    padding: 10px;
    
}
#table>thead{
    background-color: rgb(125, 144, 173);
   
}
#table>tbody{
    background-color:  rgb(235, 214, 218);
   color: black;
}
#tablecont{
    background-image: url("https://www.teahub.io/photos/full/313-3132029_linkedin-wallpaper-wallpapersafari-background-image-for-form-in.jpg");
    height: 100vh;
}
#remove{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: black;
    cursor: pointer;
}